#text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

header {
    background-color: red;
    flex-basis: 100%;
    color: white;
} 

aside {
    flex-basis: 25%;
}

div {
    flex-basis: 50%;
    background-color: blue;
}

footer  {
    flex-basis: 100%;
    background-color: purple;
    color: white;
}

.right {
    background-color: pink;
    color: white;
}

.left {
    background-color: green;
    color: white;
}

@media (max-width: 992px) {
    header {
        flex-basis: 100%;
        order: 1;
    }
    div {
        flex-basis: 80%;
        order: 2;
    }
    .right {
        flex-basis: 20%;
        order: 3;
    }
    .left {
        flex-basis: 100%;
        order: 4;
    }
    footer {
        flex-basis: 100%;
        order: 5;
    }
    
}



@media (max-width: 768px) {   
   .right {
       flex-basis: 100%;
       order: 3;
   }
   .left {
       order: 4;
   }
   div {
       flex-basis: 100%;
    
   }
   
}

